$borderColor: rgb(87, 82, 82);
$bgColor: white;
$textColor: black;
$defaultFontWeight: 500;
$defaultFont: "'Open Sans', sans-serif;";
$contentWidth: 76%;
$contentPadding: 40px 20px;
$sectionBG: linear-gradient(#367a2a, #1b3915);
$sectionColor: #fff;
$cardHeader: linear-gradient(to bottom right,rgb(20, 114, 59), rgb(13, 104, 48));
$primary: #103c8d;